* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #111518;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* LOGIN */
.left {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* IMAGEM */
.right {
  width: 60%;
  position: relative;
  overflow: hidden;
}

.right::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FORM */
.login-box {
  width: 300px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-box h2 {
  font-size: 26px;
  margin-bottom: 20px;
}

/* INPUT COM ÍCONE */
.input-group {
  display: flex;
  align-items: stretch;
  height: 48px;    
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: white;
}

/* ÁREA DO ÍCONE */
.input-group .icon {
  background-color: #040408;
  color: #ffffff;
  padding: 0 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

/* INPUT */
.input-group input {
  flex:1;
  width: 100%;
  padding: 14px;
  border: none;
  outline: none;
  font-size: 15px;
  background-color: transparent;
  height: 100%;
}

/* FOCO */
.input-group:focus-within {
  border-color: #5a189a;
  box-shadow: 0 0 0 2px rgba(90, 24, 154, 0.3);
}

/* LINKS */
.login-box .senha {
  color: #ffffff;
  text-align: right;
  font-size: 13px;
}

.login-box .conta {
  color: #ffffff;
  text-align: center;
  font-size: 13px;
}

/* BOTÃO */
.login-box button {
  margin-top: 30px;
  padding: 16px;
  background-color: #040408;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.login-box button:hover {
  background-color: #5a189a;
}

